// Body
$body-bg: #2C3639;
//bg-secondary: #3F4E4F;
//text-primary: #DCD7C9;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-colour: #DCD7C9;
